@page "/Manage/Submissions/Department-Key-Metrics/{periodName}/Copy"
@model Metrics.Web.Pages.Manage.Submissions.DepartmentKeyMetrics.CopyModel
@{
    ViewData["Title"] = "Copy Department Key Metrics";
}

<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <h4 class="flex-grow-1">Copy Department Key Metrics</h4>
        <span class="justify-content-end gap-2"></span>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="/Manage/Submissions/DepartmentKeyMetrics/Index">Department Key Metrics</a></li>
            <li class="breadcrumb-item active">Copy Department Key Metrics</li>
        </ol>
    </nav>
</div>

<div class="container">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="bg-light border p-4 rounded-2">
        <div class="row mb-3 d-flex align-items-stretch">
            <div class="col-xs-12 col-auto">
                <label class="form-label d-block" for="CurrentDepartmentCode">Source</label>
                <span>
                    <label class="form-label p-2 border">
                        <strong>
                            @Model.SourcePeriodName
                            (@Model.SourcePeriod.SubmissionStartDate.ToString("dd MMM, yyyy") 
                            - @Model.SourcePeriod.SubmissionEndDate.ToString("dd MMM, yyyy"))</strong>
                    </label>
                    <i class="bi bi-arrow-right px-4 d-none d-md-inline d-lg-inline d-xl-inline"></i>
                </span>
            </div>
                
            <div class="col-xs-12 col-sm-12 col-md-5">
                <form action="post">
                    <label class="form-label" for="DestinationPeriod">Destination</label>
                    <select asp-for="DestinationPeriodName"
                            asp-items="Model.DestinationPeriodListItems"
                            name="source"
                            class="form-select p-2" 
                            aria-label="Select Department">
                    </select>
                </form>
            </div>
        </div>


        @* <div class="row">
            <table id="departmentKeyMetricTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Metric</th>

                    </tr>
                </thead>
                <tbody>
                    @if(Model.DepartmentKeyMetrics.Any())
                    {
                        foreach(var k in Model.DepartmentKeyMetrics)
                        {
                            <tr>
                                <td>@k.DepartmentName</td>
                                <td>@k.KeyMetricTitle</td>
                            </tr>   
                        }
                    }
                </tbody>
            </table>
        </div> *@


        <div class="row">
            <div class="col-auto">
                <form id="form__departmentSelection" method="get">
                    <label class="form-label" for="CurrentDepartmentCode">Department</label>
                    <select asp-for="SelectedDepartmentCode"
                            asp-items="Model.DepartmentListItems"
                            name="department"
                            onchange="this.form.submit()"
                            class="form-select p-2" 
                            size="18"
                            aria-label="Select Department">
                    </select>
                </form>
            </div>
            <div class="col">
                @* <div class="table-container row">
                    <table id="departmentKeyMetricTable" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Metric</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.DepartmentKeyMetrics.Any())
                            {
                                foreach(var k in Model.DepartmentKeyMetrics)
                                {
                                    <tr>
                                        <td>@k.KeyMetricTitle</td>
                                    </tr>   
                                }
                            }
                        </tbody>
                    </table>
                </div> *@
                <label for="" class="form-label">Metrics</label>
                <div class="list-container">
                    <ul class="list-group">
                        @if(Model.DepartmentKeyMetrics.Any())
                        {
                            var count = 0;
                            foreach(var k in Model.DepartmentKeyMetrics)
                            {
                                count +=1;
                                <li class="list-group-item">@count.ToString("00."). @k.KeyMetricTitle</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <style>
        .btn__actionButtons {
            width: 8em;
        }
        .list-container {
            max-height: 60vh; /* Set the desired height */
            overflow-y: auto;  /* Enable vertical scrolling */
        }
        option[selected] {
            background: var(--primary-color);
            color: white;
        }
        option:focus {
            background: var(--primary-color);
            color: white;
        }
    </style>
}


@section Scripts {
    <script>
        $(function() {
            new DataTable('#departmentKeyMetricTable', {
                paging: false,
                info: false,
                searching: false,
                autoWidth: true,
                columnDefs: [
                    @* { width: "18%", targets: ["colActions"] },
                    { orderable: false, targets: ["colActions"] }, *@
                ],
                initComplete: function() {
                    $('#departmentKeyMetricTable thead th')
                        .addClass('text-center text-white bg-brand-color');
                }
            });
        });
    </script>
}