@page "{periodName}"
@model Metrics.Web.Pages.Reports.Submissions.Kpi.ViewModel
@{
    ViewData["Title"] = "Score Submission Report";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <span class="d-flex align-items-center flex-grow-1">
            <h4>Score Submission Report (KPI)</h4>
            <span class="mx-4">
                Period: <strong>@Model.SelectedPeriod.PeriodName</strong>
                <small>(@Model.SelectedPeriod.SubmissionStartDate.ToString("MMM dd, yyyy") - @Model.SelectedPeriod.SubmissionEndDate.ToString("MMM dd, yyyy"))</small>
            </span>
        </span>
        <span class="justify-content-end gap-2">
        </span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/Departments/Kpi/Index">Submissions</a></li>
            <li class="breadcrumb-item active">@Model.SelectedPeriod.PeriodName</li>
        </ol>
    </nav>
</div>


<div class="container-fluid">
    <div class="bg-light p-4 rounded-2">
        <div class="filter-toolbar mb-4 d-flex justify-content-between">
            <form id="form__groupSelection" method="get" class="">
                    <select 
                        asp-for="Group"
                        asp-items="Model.UserGroupListItems"
                        onchange="this.form.submit()"
                        class="form-select"
                        aria-label="Select User Group">
                            <option value="All">All</option>
                    </select>
            </form>
            <div class="exportData">
                @{string groupName = "";}
                @{
                    if(Model.AllUserScoreSubmissionsReports.Any())
                    {
                        groupName = "all";
                    }
                    if(Model.UserGroupScoreSubmissionsReports.Any())
                    {
                        groupName = Model.Group ?? string.Empty;
                    }
                }
                @* <a asp-page="Export"
                    asp-route-period=@Model.SelectedPeriod.PeriodName
                    asp-route-group=@groupName
                    class="btn btn-success">Export</a> *@

                <form method="post" asp-page-handler="ExportExcel">
                    <input type="hidden" asp-for="Group" />
                    @* <input type="hidden" asp-for="@Model.SelectedPeriod.PeriodName" name="periodName" /> *@
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-file-earmark-spreadsheet"></i> Export</button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table id="reportTable" class="table table-bordered table-striped">
                <thead>
                    @if(Model.UserGroupScoreSubmissionsReports.Any() || Model.AllUserScoreSubmissionsReports.Any())
                    {
                        @if(string.IsNullOrEmpty(Model.Group) || Model.Group == "All")
                        { // Display for all user groups
                            @if(Model.AllUserScoreSubmissionsReports.Any())
                            {
                                <tr>
                                    @* <th class="px-4" rowspan="2">Period</th> *@
                                    <th class="px-4" rowspan="2">Departments</th>
                                    @foreach(var g in Model.UserGroups)
                                    {
                                        <th class="px-4 no-sort" colspan="2">@g.TitleName</th>
                                    }
                                    <th class="px-4" rowspan="2">Total Submissions</th>
                                    <th class="px-4" rowspan="2">Total Score</th>
                                    <th class="px-4" rowspan="2">KPI Score</th>
                                </tr>
                                <tr>
                                        @foreach(var g in Model.UserGroups)
                                        {
                                            <th class="px-4">Submissions</th>
                                            <th class="px-4">Score</th>
                                        }
                                </tr>
                            }
                        }
                        @* else if (!string.IsNullOrEmpty(Model.Group.ToString())) *@
                        else
                        { // Display for selected user group
                            <tr>
                                @* <th class="px-4">Period</th> *@
                                <th class="px-4">Departments</th>
                                <th class="px-4">Submissions</th>
                                <th class="px-4">Score</th>
                                <th class="px-4">KPI Score</th>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th>No Data</th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @if( string.IsNullOrEmpty(Model.Group) || Model.Group == "All") // for all user group
                    {
                        if(Model.AllUserScoreSubmissionsReports.Any())
                        {
                            @foreach(var r in Model.AllUserScoreSubmissionsReports)
                            {
                                <tr>
                                    @* <td class="_periodName"><strong>@r.PeriodName</strong></td> *@
                                    <td class="">
                                        <strong>
                                            @* <a asp-page="./Department"
                                                asp-route-departmentName=@r.DepartmentName> *@
                                                @r.DepartmentName
                                            @* </a> *@
                                        </strong>
                                    </td>
                                    @foreach(var g in r.UserGroupSubmissions)
                                    {
                                        <td class="pe-4 @(g.GroupName + "_groupTotalSubmissions")">@g.TotalSubmissions.ToString("0")</td>
                                        <td class="pe-4 _groupTotalScore @(g.GroupName + "_groupTotalScore")">@g.TotalScore.ToString("0.00")</td>
                                    }
                                    <td class="pe-4">@r.TotalSubmissions.ToString("0")</td>
                                    <td class="px-4">@r.TotalScore.ToString("0.00")</td>
                                    <td class="px-4">
                                        <strong>
                                            @r.KpiScore.ToString("0.00")
                                        </strong>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else // for selected user group
                    {
                        @if(Model.UserGroupScoreSubmissionsReports.Any())
                        {
                            @foreach(var r in Model.UserGroupScoreSubmissionsReports)
                            {
                                <tr>
                                    @* <td>@r.PeriodName</td> *@
                                    <td class=""><strong>@r.DepartmentName</strong></td>
                                    <td class="text-center px-2">@r.TotalSubmissions.ToString("0")</td>
                                    <td class="text-center px-2">@r.TotalScore.ToString("0.00")</td>
                                    <td class="text-center px-2">
                                        <strong>
                                            @r.KpiScore.ToString("0.00")
                                        </strong>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles {
    <style>
        .dt-column-title {
            padding-right: .5em;
        }
        .dt-column-title {
        }
        .valign-middle {
            vertical-align: middle;
            @* height: 50px; /* Set a fixed height */ *@
        }
    </style>
}

@section Scripts {
    <script>
        $(function() {
            @* const userGroupCount = @Model.UserGroups.Count; // Get the number of user groups
            const noSortTargets = [0]; // Start with the Departments column index *@

            // Add indexes for the no-sort columns (each user group has 2 columns)
            @* for (let i = 0; i < userGroupCount; i++) {
                noSortTargets.push(1 + i * 2); // Submissions column
                noSortTargets.push(2 + i * 2); // Score column
            } *@
            new DataTable('#reportTable', {
                paging: false,
                info: false,
                searching: false,
                autoWidth: true,
                columnDefs: [
                    { width: '20%', targets: 0 },
                    @* { sortable: false, targets: ['.no-sort'] }, *@
                    @* { orderable: false, targets: noSortTargets } // Disable sorting for specified columns *@
                ],
                @* scrollX: true, *@
                @* columnDefs: [
                    { width: '15%', targets: 0 }, // Width for the first column (Period)
                    { width: '20%', targets: 1 }, // Width for the second column (Departments)
                    { width: '15%', targets: 2 }, // Width for the third column (Submissions)
                    { width: '15%', targets: 3 }, // Width for the fourth column (Score)
                    { width: '15%', targets: 4 }  // Width for the fifth column (KPI Score)
                ], *@
                initComplete: function() {
                    // Center align the header cells
                    $('#reportTable thead th').addClass('text-light text-center ');
                    $('#reportTable thead th').addClass('valign-middle bg-brand-color');
                    $('#reportTable tbody td').addClass('valign-middle');
                }
            });
        });
    </script>
}

























            @* <table id="reportTable2" class="table">
            <thead>
                <tr>
                    @if(Model.UserGroupScoreSubmissionsReports.Any() || Model.MasterReportList.Any())
                    {
                        @if(Model.SelectedUserGroupName != null && !string.IsNullOrEmpty(Model.SelectedUserGroupName.ToString()))
                        { // Display for selected user group
                            <th class="px-4">Period</th>
                            <th class="px-4">Departments</th>
                            <th class="px-4">Submissions</th>
                            <th class="px-4">Score</th>
                            <th class="px-4">KPI Score</th>
                        }
                        else
                        { // Display for all user groups
                            <th class="px-4">Departments</th>
                            <th class="px-4">Group</th>
                            <th class="px-4">Submissions</th>
                            <th class="px-4">Score</th>
                            <th class="px-4">KPI Score</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @if(Model.SelectedUserGroupName != null) // for selected user group
                {
                    @if(Model.UserGroupScoreSubmissionsReports.Any())
                    {
                        @foreach(var r in Model.UserGroupScoreSubmissionsReports)
                        {
                            <tr>
                                <td>@r.PeriodName</td>
                                <td>@r.DepartmentName</td>
                                <td>@r.TotalSubmissions.ToString("0")</td>
                                <td>@r.TotalScore.ToString("0.0")</td>
                                <td>@r.KpiScore.ToString("0.0")</td>
                            </tr>
                        }
                    }
                }
                else // for all user group
                {
                    if(Model.MasterReportList.Any())
                    {
                        @foreach(var m in Model.MasterReportList)
                        {
                            @if (m.ReportDetails.Any())
                            {
                                var firstRow = true;
                                @foreach(var r in m.ReportDetails)
                                {
                                    <tr>
                                        @if (firstRow)
                                        {
                                            <td rowspan="3" valign="middle">
                                                <strong>@m.DepartmentName</strong>
                                            </td>
                                            firstRow=false;
                                        }
                                        <td>@r.UserGroupName</td>
                                        <td>@r.TotalSubmissions.ToString("0")</td>
                                        <td>@r.TotalScore.ToString("0.0")</td>
                                        <td>@r.KpiScore.ToString("0.0")</td>
                                    </tr>
                                }
                            }
                        }
                    }
                }
            </tbody>
        </table> *@