@page
@model Metrics.Web.Pages.Manage.Users.IndexModel
@{
    ViewData["Title"] = "Manage Users";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <h3 class="flex-grow-1">Manage Users</h3>
        <span class="justify-content-end gap-2">
            <a class="btn btn-success" 
                asp-page="Register/Index"
                asp-route-returnUrl="@Url.Page("Index")"><i class="bi bi-plus-lg"></i> Register</a>
        </span>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
    </nav>
</div>

<div class="container">

    @if (!string.IsNullOrEmpty(Model.StatusMessage))
    {
        var color = Model.StatusMessage.StartsWith("Error") ? "danger" : "info";
        <div id="alert__actionFeedback" class="alert alert-@color alert-dismissible fade show mt-4 m-2" role="alert">
            @Html.Raw(Model.StatusMessage)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @* <partial name="~/Shared/_StatusMessage" for="StatusMessage" /> *@

    <div class="mt-4">
        <table id="userTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Department</th>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Authority</th>
                    @* <th>Address</th> *@
                    @* <th>Phone Number</th> *@
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.UsersList.Any())
                {
                    @foreach (var e in Model.UsersList)
                    {
                        <tr class="align-middle">
                            <td class="ps-4 text-success">
                                <strong>@e.UserTitleName</strong>
                            </td>
                            <td class="ps-4">@e.DepartmentName</td>
                            <td class="ps-4">@e.FullName</td>
                            <td class="ps-4">@e.UserName</td>
                            <td class="ps-4">
                                @foreach(var roleName in e.UserRoles)
                                {
                                    var color = roleName.StartsWith("Admin") ? "danger" : "success";
                                    <span class="text-@color"><strong>@roleName</strong></span>
                                    @* <span class="badge rounded-2 rounded-pill text-bg-@color">
                                        @roleName</span> *@
                                } </td>
                            @* <td>@e.Address</td> *@
                            @* <td>@e.PhoneNumber</td> *@
                            <td class="text-center">
                                    <a asp-page="Edit" 
                                        asp-route-userId="@e.Id"
                                        asp-route-returnUrl="@Request.Path"
                                        class="btn__actionButtons btn btn-sm btn-outline-primary my-2 my-lg-0 me-2">
                                        <i class="bi bi-pencil-square"> </i>Edit</a>
                                    <a asp-page="Lock" 
                                        asp-route-userId="@e.Id"
                                        asp-route-returnUrl="@Request.Path"
                                        class="btn__actionButtons btn btn-sm btn-@(e.IsActive?"outline-success":"outline-danger") my-2 my-lg-0 me-2">
                                            @if (@e.IsActive) 
                                            { <i class="bi bi-lock-fill"></i> <text>Lock</text> }
                                            else 
                                            { <i class="bi bi-unlock-fill"></i> <text>Unlock</text> } 
                                    </a>
                                    <a asp-page="Reset" 
                                        asp-route-userId="@e.Id"
                                        asp-route-returnUrl="@Request.Path"
                                        class="btn__actionButtons btn btn-sm btn-outline-primary my-2 my-lg-0 me-2">
                                        <i class="bi bi-fingerprint"></i> Reset Password</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Styles {
    <style>
        .btn__actionButtons {
            width: auto;
        }
    </style>
}

@section Scripts {
    <script>
        $(function() {
            var colActions = 5;
            new DataTable('#userTable', {
                paging: false,
                info: false,
                searching: false,
                autoWidth: true,
                columnDefs: [
                    { width: "30%", targets: [colActions] },
                    { orderable: false, targets: [colActions] }
                ],
                initComplete: function() {
                    $('thead th').addClass('text-light text-center ');
                    $('thead th').addClass('bg-brand-color');
                }
            });
            @* setTimeout(function() {
                if ($('.btn-close').length) {
                    $('.btn-close').click();
                }
            }, 4000); *@

            $('#alert__actionFeedback').on('closed.bs.alert', function() {});
        });
    </script>
}