@page
@model Metrics.Web.Pages.Kpi.Submissions.NewModel
@{
    decimal[] scoreList = new decimal[] { 1.00M, 2.00M, 3.00M, 4.00M, 5.00M, 6.00M, 7.00M, 8.00M, 9.00M, 10.00M };
}

<h3>KPI Submission Form</h3>

@* ========================================================================== *@
@if (!ModelState.IsValid)
{
    <div class="form bg-light p-4">
        <div class="alert alert-danger">
            <h4>There were some errors:</h4>
            <ul>
                @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    </div>
}


@if (!Model.SubmissionAvaiable)
{
    <div class="alert alert-danger">No Submission Avaiable Currently</div>
}
else
{

    @* =============== Form ===================================================== *@
    <form method="post">
        @* <div class="row row-lg-12 mb4">
            <div class="card mb-3">
                <h5>Info:</h5>
                <div class="">Date: @DateTimeOffset.Now</div>
            </div>
        </div> *@
        
        <div class="row row-lg-12 mb-4">
            
            <div class="form-group col-md-4">
                <label asp-for="FormInput.CandidateId" class="col-sm-6 col-form-label">Candidate</label>
                <input type="hidden" asp-for="FormInput.CandidateId" class="form-control" />
                <input class="form-control" value="@(User.Identity?.Name ?? "Guest")" disabled />
                <div>
                    <span asp-validation-for="FormInput.CandidateId" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group col-md-4">
                <label asp-for="FormInput.SubmissionTime" class="col-sm-6 col-form-label">Submission Time</label>
                <input type="text" 
                        asp-for="FormInput.SubmissionTime" 
                        class="form-control" 
                        value="@Model.FormInput.SubmissionTime.ToString("dd MMMM yyyy HH:mm tt")" 
                        disabled />
                @* <input asp-for="FormInput.SubmissionTime"
                        class="form-control" 
                        type="datetime-local" 
                        value="@Model.FormInput.SubmissionTime.ToString("yyyy-MM-ddTHH:mm")"
                        required /> *@
                <div>
                    <span asp-validation-for="FormInput.SubmissionTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="FormInput.KpiPeriodId" class="col-sm-6 col-form-label">KPI Period</label>
                <select asp-for="FormInput.KpiPeriodId" 
                        asp-items="Model.KpiPeriodListItems"
                        class="form-select" 
                        aria-label="Select KPI Period">
                    <option value="">Select a Period</option>
                </select>
                <div>
                    <span asp-validation-for="FormInput.KpiPeriodId" class="text-danger"></span>
                </div> 
            </div>

        </div>


@* ========================== Score Entries ================================= *@
        <div class="row row-md-4 row-lg-4" >
            @foreach(var department in Model.Departments)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mb-3">
                            <h5>Department: <strong>@department.DepartmentName</strong></h5>
                            @* <input type="hidden" name="Input.KpiScoreEntries[@i].TargetDepartment" value="@dept.Id" /> *@
                        </div>
                        <div class="mb-3 py-2">
                            @for(int i = 0; i < scoreList.Length; i++)
                            {
                                <input class="form-check-input ms-4" type="radio" name="@department.Id" value="@scoreList[i]" />
                                <label class="form-check-label">
                                    @scoreList[i]
                                </label>
                            }
                        </div>
                        <div class="mb-3">
                            <label asp-for="FormInput.KpiScoreEntries" class="form-label">Comments: </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        @* <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div> *@
                    </div>
                </div>
            }
        </div>

        <div>
            <div>Hidden inputs:</div>
            <div><input asp-for="FormInput.CandidateId" class="form-control" /></div>
            <div></div>
        </div>


        <div class="row mt-4">
            <div class="form-group col-md d-flex align-items-center">
                <button type="submit" class="btn btn-success me-2">
                    <i class="bi bi-check-circle"> </i>Submit
                </button>
                <button type="submit" class="btn btn-warning mx-2"
                    asp-page-handler="Cancel" formnovalidate>
                    <i class="bi bi-x-circle"> </i>Cancel
                </button>
            </div> 
        </div>
        
    </form>

}
