@page "/Reports/Submissions"
@model Metrics.Web.Pages.Reports.Submissions.IndexModel
@{
    ViewData["Title"] = "Reports List for Department Score Submissions";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <h4><i class="bi bi-clipboard-check-fill"></i> Department Score Reports</h4>
        <span class="justify-content-end gap-2"></span>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            @* <li class="breadcrumb-item"><a aria-disabled="true">Reports</a></li> *@
            <li class="breadcrumb-item active">Reports</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row align-items-stretch">
        <div class="d-flex col-xs-12 col-md-4">
            <div class="card w-100 department-score">
                <div class="card-header">
                    <strong>Department scores (KPI Reports)</strong>
                </div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Department KPI Reports</p>
                    <div class="mt-auto text-end">
                        <a asp-page="./DepartmentKpi/Index" class="btn">
                            <i class="bi bi-table"></i> View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex col-xs-12 col-md-4">
            <div class="card w-100 department-metric-score">
                <div class="card-header">
                    <strong>KEY KPI Reports</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Department KEY KPI Reports</p>
                    <div class="mt-auto text-end">
                        <a asp-page="./DepartmentKeyKpi/Index" class="btn">
                            <i class="bi bi-table"></i> View</a>
                        <a asp-page="./KeyKpi/Index" class="btn">
                            <i class="bi bi-table"></i> View 2</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex col-xs-12 col-md-4">
            <div class="card w-100 department-case-feedback">
                <div class="card-header">
                    <strong>Case Feedback Reports</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Department Case Feedback Reports</p>
                    <div class="mt-auto text-end">
                        <a asp-page="./DepartmentCaseFeedback/Index" class="btn">
                            <i class="bi bi-table"></i> View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    @* <div class="bg-light p-4 rounded-2">
        <table id="reportIndexTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Period Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>KPI</th>
                    <th>KEY KPI</th>
                    <th>CASE FEEDBACK</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.KpiPeriodList.Any())
                {
                    @foreach(var p in Model.KpiPeriodList)
                    {
                        <tr>
                            <td class="text-center">
                                <strong>@p.PeriodName</strong>
                            </td>
                            <td class="text-center">@p.SubmissionStartDate.ToLocalTime().ToString("MMM dd, yyyy")</td>
                            <td class="text-center">@p.SubmissionEndDate.ToLocalTime().ToString("MMM dd, yyyy")</td>
                            <td class="text-center">
                                <a asp-page="./Kpi/View"
                                    asp-route-periodName="@p.PeriodName"
                                    class="link my-2 my-lg-0 me-2">
                                    <strong><i class="bi bi-clipboard2-data"> </i>Details</strong></a>
                            </td>
                            <td class="text-center">
                                <a asp-page="./Kpi/View" 
                                    asp-route-periodName="@p.PeriodName"
                                    class="link my-2 my-lg-0 me-2">
                                    <strong><i class="bi bi-clipboard2-data"> </i>Details</strong></a>
                            </td>
                            <td class="text-center">
                                <a asp-page="View" 
                                    asp-route-periodName="@p.PeriodName"
                                    class="link my-2 my-lg-0 me-2">
                                    <strong><i class="bi bi-clipboard2-data"> </i>Details</strong></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div> *@


@section Styles {
    <style>
        .department-score .card-header {
            color: var(--metric-green-color);
        }
        .department-score .card-body .btn {
            background: var(--metric-green-color);
            border: 0;
        }
        .department-score .card-body .btn:hover {
            background: var(--metric-deepgreen-color);
            border: 0;
        }
        
        .department-metric-score .card-header {
            color: var(--metric-red-color);
        }
        .department-metric-score .card-body .btn {
            background: var(--metric-red-color);
            border: 0;
        }
        .department-metric-score .card-body .btn:hover {
            background: var(--metric-deepred-color);
            border: 0;
        }
        
        .department-case-feedback .card-header {
            color: var(--metric-blue-color);
        }
        .department-case-feedback .card-body .btn {
            background: var(--metric-blue-color);
            border: 0;
        }
        .department-case-feedback .card-body .btn:hover {
            background: var(--metric-deepblue-color);
            border: 0;
        }

        .department-score .card-body .btn,
        .department-metric-score .card-body .btn,
        .department-case-feedback .card-body .btn {
            color: var(--light-color);
        }
    </style>
}

@section Scripts {
    <script>
        $(function() {
            @* var colActions = 2;
            new DataTable('#reportIndexTable', {
                paging: false,
                info: false,
                searching: false,
                autoWidth: true,
                columnDefs: [
                    { width: "20%", targets: [0] },
                    { orderable: false, targets: [3] }
                ],
                initComplete: function() {
                    $('thead th').addClass('text-light text-center ');
                    $('thead th').addClass('bg-brand-color');
                }
            }); *@
        });
    </script>
}
