@page "/Reports/Submissions/Department-Kpi/{periodName}/Detail"
@model Metrics.Web.Pages.Reports.Submissions.DepartmentKpi.DetailModel
@{
    ViewData["Title"] = "Department KPI Report Details";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <span class="d-flex align-items-center">
            <h4 class="flex-grow-1">Department KPI Report Details (KPI)</h4>
            @* <h4>Score Submission Report (KPI)</h4> *@
            <span class="mx-4">
                Period: <strong>@Model.SelectedPeriod.PeriodName</strong>
                <small>(@Model.SelectedPeriod.SubmissionStartDate.ToLocalTime().ToString("MMM dd, yyyy") - @Model.SelectedPeriod.SubmissionEndDate.ToLocalTime().ToString("MMM dd, yyyy"))</small>
            </span>
        </span>
        <span class="justify-content-end gap-2">
        </span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/Index">Reports</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/DepartmentKpi/Index">Department KPI Period</a></li>
            <li class="breadcrumb-item active">@Model.SelectedPeriod.PeriodName</li>
        </ol>
    </nav>
</div>


<div class="filter-toolbar mb-4 px-4 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-2">
        <a asp-page="./Index"
            class="btn btn-sm btn-outline-primary me-4">
            <i class="bi bi-arrow-left"></i> Back</a>
        <form id="form__groupSelection" method="get" class="">
            <span class="d-flex align-items-center">
                <div class="col-auto me-2">
                    <label for="Group" class="form-label m-0">
                        <i class="bi bi-people-fill"></i> User Group</label>
                </div>
                <div class="col-auto me-4">
                    <select 
                        asp-for="Group"
                        asp-items="Model.UserGroupListItems"
                        onchange="this.form.submit()"
                        class="form-select"
                        aria-label="Select User Group">
                    </select>
                </div>

                @if(Model.IsActivePeriod) 
                {
                    @if(!string.IsNullOrEmpty(Model.Group))
                    {
                            <div class="col-auto me-2">
                                <label for="Group" class="form-label m-0">
                                    <i class="bi bi-filter"></i> Show</label>
                            </div>
                            <div class="col-auto me-4">
                                <select 
                                    asp-for="Show"
                                    asp-items="Model.ShowSubmissionModeListItems"
                                    onchange="this.form.submit()"
                                    class="form-select"
                                    aria-label="Select submissions to display">
                                </select>
                            </div>
                    }
                    else {
                        <div class="col-auto me-2">
                            <label for="Group" class="form-label m-0 text-secondary">
                                <i class="bi bi-filter"></i> Show</label>
                        </div>
                        <div class="col-auto me-4">
                            <select 
                                class="form-select text-secondary"
                                aria-label="Select submissions to display"
                                disabled>
                                    <option value="">All Submissions</option>
                            </select>
                        </div>
                    }
                }
            </span>
        </form>
    </div>

    @* <div class="exportData">
        <form method="post" asp-page-handler="ExportExcel">
            <input type="hidden" asp-for="Group">
            <input type="hidden" asp-for="Show">

            @if(Model.AllUserGroupReportDetailList.Any() ||
                Model.SingleUserGroupReportDetailList.Any())
            {
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-file-earmark-spreadsheet"></i> Export</button>   
            }
            else
            {
                <button type="submit" class="btn btn-success disabled">
                    <i class="bi bi-file-earmark-spreadsheet"></i> Export</button>
            }
        </form>
    </div> *@
</div>

<div class="container-fluid ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div id="loadingScreen" class="d-flex justify-content-center mb-4">
            <strong role="status" class="me-3">Loading...</strong>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        
        <div id="mainContent" class="mt-4 mx-4 visually-hidden">

            <div class="table-responsive">
                @* =====ALL GROUP===== *@
                @* submitter, [department score], ..., score, totalScr *@
                @if(!string.IsNullOrEmpty(Model.Group) ) 
                {
                    @if (Model.Group.Equals("all", StringComparison.OrdinalIgnoreCase))
                    {
                        @if(Model.AllUserGroupReportDetailList.Count > 0)
                        {
                            <table id="allUserGroupTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="4">Candidate</th>
                                    @foreach(var department in Model.DepartmentList)
                                    {
                                        <th>@department.DepartmentName</th>
                                    }
                                </tr>
                                <tr>
                                    <th>Candidate ID</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Group</th>
                                    @foreach(var department in Model.DepartmentList)
                                    {
                                        <th>Score</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var entry in Model.AllUserGroupReportDetailList) 
                                {
                                    <tr>
                                        <td>@entry.SubmittedBy.UserCode</td>
                                        <td>@entry.SubmittedBy.FullName</td>
                                        <td>@entry.SubmittedBy.Department.DepartmentName</td>
                                        <td>@entry.SubmittedBy.UserGroup.GroupName.ToUpper()</td>
                                        @foreach(var d in Model.DepartmentList)
                                        {
                                            // if Department == DepartmentScores.Department
                                            // **likely contains only 1 if exist
                                            var item = entry.DepartmentScores
                                                .Where(dc => dc.DepartmentName!= null && dc.DepartmentName.Equals(d.DepartmentName, StringComparison.OrdinalIgnoreCase))
                                                .FirstOrDefault();
                                            if (item != null)
                                            {
                                                if (item.ScoreValue > 0) {
                                                    <td>@item.ScoreValue</td>
                                                } else {
                                                    <td class="text-secondary">@(0M.ToString("0.00"))</td>
                                                }
                                            }
                                            else {
                                                <td class="text-secondary">@(0M.ToString("0.00"))</td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th> <!-- For the Candidate column -->
                                    <th></th>
                                    <th></th>
                                    @foreach(var department in Model.DepartmentList)
                                    {
                                        <th></th> <!-- Empty cells that will be filled by footerCallback -->
                                    }
                                </tr>
                            </tfoot>
                            </table>
                        }
                        else
                        {
                            <p class="alert alert-danger text-danger text-center">No Data</p>
                        }
                    }
                    @* =====SINGLE GROUP===== *@
                    else {
                        @* ???submitter, [department score], ..., score, totalScr *@
                        if(Model.SingleUserGroupReportDetailList.Count > 0)
                        {
                            <table id="singleUserGroupTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="3">Candidate</th>
                                    @foreach(var department in Model.DepartmentList)
                                    {
                                        <th>@department.DepartmentName</th>
                                    }
                                </tr>
                                <tr>
                                    <th>Candidate ID</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    @* <th>Group</th> *@
                                    @foreach(var department in Model.DepartmentList)
                                    {
                                        <th>Score</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var entry in Model.SingleUserGroupReportDetailList) 
                                {
                                    <tr>
                                        <td>@entry.SubmittedBy.UserCode</td>
                                        <td>@entry.SubmittedBy.FullName</td>
                                        <td>@entry.SubmittedBy.Department.DepartmentName</td>
                                        @* <td>@(entry.GroupName != null ? entry.GroupName.ToUpper() : "N/A")</td> *@
                                        @foreach(var d in Model.DepartmentList)
                                        {
                                            // if Department == DepartmentScores.Department
                                            // **likely contains only 1 if exist
                                            var item = entry.DepartmentScores
                                                .Where(dc => dc.DepartmentName!= null && dc.DepartmentName.Equals(d.DepartmentName, StringComparison.OrdinalIgnoreCase))
                                                .FirstOrDefault();
                                            if (item != null && item.ScoreValue > 0)
                                            {
                                                <td>@item.ScoreValue</td>
                                            }
                                            else
                                            {
                                                <td class="text-secondary">@(0M.ToString("0.00"))</td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th> <!-- For the Candidate column -->
                                    <th></th>
                                    @foreach(var department in Model.DepartmentList)
                                    {
                                        <th></th> <!-- Empty cells that will be filled by footerCallback -->
                                    }
                                </tr>
                            </tfoot>
                            </table>
                        }
                        else
                        {
                            <p class="alert alert-danger text-danger text-center">No Data</p>
                        }
                    }
                }
                else
                {
                    <p class="alert alert-danger text-danger text-center">Invalid group selected.</p>
                }
            </div>
        </div>
    </div>
</div>

@* ----------Modal Dialog---------- *@
<div id="dialog_textDetail" class="modal" tabindex="-1" aria-labelledby="dialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="dialogContent"></p>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(function() {
            if($('#allUserGroupTable').length > 0) {

            }
            else if($('singleUserGroupTable').length > 0) {

            }

            // ------------------- Show Dialog ---------------------------------
            $('.moreButton_positiveAspects, .moreButton_negativeAspects, .moreButton_comments').click(function() {
                var fullText = $(this).data('details');
                var label = $(this).data('label');
                $("#dialogTitle").text(label);

                if (fullText !== undefined) {
                    $("#dialogContent").text(fullText);
                    $("#dialog_textDetail").modal("show");
                } else {
                    console.error('data is undefined');
                }
            });

        });
    </script>
}
