@page "/Reports/Submissions/Department-Kpi/{periodName}/Detail"
@model Metrics.Web.Pages.Reports.Submissions.DepartmentKpi.DetailModel
@{
    ViewData["Title"] = "Score Submission Report Details";
}

<div class="sectionTitle">
    <div class="d-flex align-items-center">
        <span class="d-flex align-items-center">
            <h4 class="flex-grow-1">Department Score Report Details (KPI)</h4>
            @* <h4>Score Submission Report (KPI)</h4> *@
            <span class="mx-4">
                Period: <strong>@Model.SelectedPeriod.PeriodName</strong>
                <small>(@Model.SelectedPeriod.SubmissionStartDate.ToString("MMM dd, yyyy") - @Model.SelectedPeriod.SubmissionEndDate.ToString("MMM dd, yyyy"))</small>
            </span>
        </span>
        <span class="justify-content-end gap-2">
        </span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/Index">Reports</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/DepartmentKpi/Index">Department KPI Period</a></li>
            <li class="breadcrumb-item active">@Model.SelectedPeriod.PeriodName</li>
        </ol>
    </nav>
</div>


<div class="container-fluid">
    <div class="bg-light p-4 rounded-2">
        <div class="filter-toolbar mb-4 d-flex justify-content-between">
            <span class="d-flex align-items-center gap-2">
                @* <h3>@Model.SelectedPeriod.PeriodName</h3>
                @if(Model.Submitter!= null)
                {
                    <button class="btn btn-primary">Filter</button>
                }
                <form id="form__userSelection" method="get">
                    <select 
                        asp-for="Group"
                        asp-items="Model.UserGroupListItems"
                        onchange="this.form.submit()"
                        class="form-select"
                        aria-label="Select User Group">
                            <option value="All">All</option>
                    </select>
                </form>
                <span class="d-flex align-items-center m-2">
                    <input type="text" id="input__searchUser" class="form-control ms-2" placeholder="Search by User Name" />
                </span> *@
            </span>
            <div class="exportData">
                <form method="post" asp-page-handler="ExportExcel">
                    <input type="hidden" asp-for="Submitter" />
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-file-earmark-spreadsheet"></i> Export</button>
                </form>
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="table-responsive">
            <table id="reportTable" class="table table-bordered table-striped">
                <thead>
                    @* @if(Model.ScoreSubmissionDetailReports.Any())
                    { *@
                        <tr>    
                            <th class="px-4 colUser">User</th>
                            <th class="px-4 colDepartment">Department</th>
                            <th class="px-4 colScoreValue">Given Score</th>
                            <th class="px-4 colPositiveAspects">Positive Aspects</th>
                            <th class="px-4 colNegativeAspects">Negative Aspects</th>
                            <th class="px-4 colComments">Comments</th>
                        </tr>
                    @* } *@
                    @* else
                    {
                        <tr>
                            <th>No Data</th>
                        </tr>
                    } *@
                </thead>
                <tbody>
                    @if(Model.ScoreSubmissionDetailReports.Any())
                    {
                        @foreach(var e in Model.ScoreSubmissionDetailReports)
                        {
                            <tr>
                                <td><strong><a asp-page="">@e.UserFullName</a></strong></td>
                                <td>@e.DepartmentName</td>
                                <td class="text-center"><strong>@e.GivenScore</strong></td>
                                <td>
                                    @if(e.PositiveAspects != null && e.PositiveAspects.Any()) {
                                        @if(e.PositiveAspects.Length > 80) {
                                            @(e.PositiveAspects.Substring(0, 80) + "...")
                                            <button data-details="@e.PositiveAspects" data-label="Positive Aspects"
                                                    class="moreButton_positiveAspects btn btn-link p-0 pb-2">More</button>
                                        }
                                        else {
                                            @e.PositiveAspects
                                        }
                                    }
                                    else {
                                        @:None
                                    }
                                </td>
                                <td>
                                    @if(e.NegativeAspects != null && e.NegativeAspects.Any()) {
                                        @if(e.NegativeAspects.Length > 80) {
                                            @(e.NegativeAspects.Substring(0, 80) + "...")
                                            <button data-details="@e.NegativeAspects" data-label="Negative Aspects"
                                                    class="moreButton_negativeAspects btn btn-link p-0 pb-2">More</button>
                                        }
                                        else {
                                            @e.NegativeAspects
                                        }
                                    }
                                    else {
                                        @:None
                                    }
                                </td>
                                <td>
                                    @if(e.Comments != null && e.Comments.Any()) {
                                        @if(e.Comments.Length > 80) {
                                            @(e.Comments.Substring(0, 80) + "...")
                                            <button data-details="@e.Comments" data-label="Positive Aspects"
                                                    class="moreButton_comments btn btn-link p-0 pb-2">More</button>
                                        }
                                        else {
                                            @e.Comments
                                        }
                                    }
                                    else {
                                        @:None
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Dialog -->
<div id="dialog_textDetail" class="modal" tabindex="-1" aria-labelledby="dialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="dialogContent"></p>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <style>
        @* .dt-column-title {
            padding-right: .5em;
        }
        .dt-column-title {
        }
        .valign-middle {
            vertical-align: middle;
        } *@
        .valign-middle {
            vertical-align: middle;
        }
    </style>
}


@section Scripts {
    <script>
        $(function() {
            new DataTable('#reportTable', {
                paging: false,
                info: false,
                searching: false,
                @* autoWidth: true, *@
                columnDefs: [
                    { width: "15%", targets: [0, 1] },
                    { width: "10%", targets: [2] },
                    { width: "15%", targets: [3, 4] },
                    { width: "20%", targets: [5] },
                    @* { orderable: false, targets: [colActions] }, *@
                ],
                initComplete: function() {
                    $('thead th').addClass('text-light text-center ');
                    $('#reportTable thead th').addClass('valign-middle bg-brand-color');
                    @* $('#reportTable tbody td').addClass('valign-middle'); *@
                }
            });

            // ------------------- Show Dialog ---------------------------------
            $('.moreButton_positiveAspects, .moreButton_negativeAspects, .moreButton_comments').click(function() {
                var fullText = $(this).data('details');
                var label = $(this).data('label');
                $("#dialogTitle").text(label);

                if (fullText !== undefined) {
                    $("#dialogContent").text(fullText);
                    $("#dialog_textDetail").modal("show");
                } else {
                    console.error('data is undefined');
                }
            });


            $('#input__searchUser').on('input', function() {
                var searchValue = $(this).val().toLowerCase();
            })
        });
    </script>
}
