@page "/Reports/Submissions/Department-Kpi/"
@model Metrics.Web.Pages.Reports.Submissions.DepartmentKpi.IndexModel
@{
    ViewData["Title"] = "Department Score Reports (KPI)";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center my-2">
        <h4 class="flex-grow-1">Department Score Reports (KPI)</h4>
        <span class="justify-content-end gap-2"></span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/Index">Reports</a></li>
            <li class="breadcrumb-item active">Department KPI Period</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="bg-light p-4 rounded-2">
        <table id="reportIndexTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Period Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.KpiPeriodList.Any())
                {
                    @foreach(var p in Model.KpiPeriodList)
                    {
                        <tr>
                            <td class="text-center">
                                <a asp-page="Summary" 
                                    asp-route-periodName="@p.PeriodName"
                                    class="link-primary 
                                            link-offset-2 
                                            link-underline-opacity-25 
                                            link-underline-opacity-100-hover">
                                    <strong>@p.PeriodName</strong></a>
                            </td>
                            @* <td>@p.SubmissionStartDate.ToLocalTime().UtcDateTime.ToString("MMM dd, yyyy hh:mm:ss tt")</td>
                            <td>@p.SubmissionEndDate.ToLocalTime().UtcDateTime.ToString("MMM dd, yyyy hh:mm:ss tt")</td> *@
                            <td class="text-center">@p.SubmissionStartDate.ToLocalTime().ToString("MMM dd, yyyy")</td>
                            <td class="text-center">@p.SubmissionEndDate.ToLocalTime().ToString("MMM dd, yyyy")</td>
                            <td class="text-center">
                                <a asp-page="Summary" 
                                    asp-route-periodName="@p.PeriodName"
                                    class="btn btn-sm btn-outline-primary my-2 my-lg-0 me-2">
                                    <strong><i class="bi bi-clipboard2-data"> </i>Summary</strong></a>
                                <a asp-page="Detail" 
                                    asp-route-periodName="@p.PeriodName"
                                    class="btn btn-sm btn-outline-primary my-2 my-lg-0 me-2">
                                    <strong><i class="bi bi-clipboard2-data"> </i>Details</strong></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(function() {
            new DataTable('#reportIndexTable', {
                paging: false,
                info: false,
                searching: false,
                autoWidth: true,
                columnDefs: [
                    { width: "20%", targets: [0] },
                    { orderable: false, targets: [0] }
                ],
                initComplete: function() {
                    $('thead th').addClass('text-light text-center ');
                    $('thead th').addClass('bg-brand-color');
                }
            });
        });
    </script>
}
