@page "/Reports/Submissions/Department-Case-Feedback/{periodName}/detail"
@model Metrics.Web.Pages.Reports.Submissions.DepartmentCaseFeedback.DetailModel
@{
    ViewData["Title"] = "Score Submission Report Details";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center my-2">
        <span class="d-flex align-items-center flex-grow-1">
            <h4>Department Case Feedback Details</h4>
            <span class="mx-4">
                Period: <strong>@Model.SelectedPeriod.PeriodName</strong>
                <small>(@Model.SelectedPeriod.SubmissionStartDate.ToString("MMM dd, yyyy") - @Model.SelectedPeriod.SubmissionEndDate.ToString("MMM dd, yyyy"))</small>
            </span>
        </span>
        <span class="justify-content-end gap-2">
        </span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/Index">Reports</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/DepartmentCaseFeedback/Index">Department Case Feedback</a></li>
            <li class="breadcrumb-item active">Details</li>
        </ol>
    </nav>
</div>

<div class="container-fluid">
    <div class="bg-light p-4 rounded-2">

        <div class="filter-toolbar mb-4 d-flex justify-content-between">
            <span class="d-flex align-items-center gap-2">
            </span>
            <div class="exportData">
                <form method="post" asp-page-handler="ExportExcel">
                    <input type="hidden" asp-for="Submitter" />
                    <button type="submit" 
                            class="btn btn-success 
                                @(Model.CaseFeedbackSubmissions.Count > 0 
                                ? "" : "disabled")">
                        <i class="bi bi-file-earmark-spreadsheet"></i> Export</button>
                </form>
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" class="alert alert-danger text-danger" role="alert"></div>

        <div class="table-responsive">
            <table id="reportTable" class="table table-bordered table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="colSubmitterName">Submitted By</th>
                        @* <th class="colSubmitterDepartment">Department</th> *@
                        <th class="colScore">Score</th>
                        <th class="colComment">Comments</th>

                        <th class="colCaseDepartment">Case Department</th>
                        <th class="colIncidentAt">Incident Time</th>
                        @* <th class="colWard">Ward Name</th>
                        <th class="colCPINo">CPI Number</th>
                        <th class="colPatientName">PatientName</th>
                        <th class="colRoomNo">Room Number</th>
                        *@
                        <th class="colActions">Actions</th> 
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CaseFeedbackSubmissions.Any())
                    {
                        @foreach(var submission in Model.CaseFeedbackSubmissions)
                        {
                            <tr class="">
                                <td class="">@submission.SubmittedBy.FullName (@submission.SubmittedBy.Department.DepartmentName)</td>
                                <td class="text-center"><strong>@submission.NegativeScoreValue</strong></td>
                                <td class="">
                                    @if(@submission.Comments?.Length > 80) {
                                        @(@submission.Comments.Substring(0, 80) + "...")
                                        <button data-details="@@submission.Comments" data-label="Positive Aspects"
                                            class="moreButton_positiveAspects btn btn-link p-0 pb-2">More</button>
                                    } else {
                                        @submission.Comments
                                    }
                                </td>

                                <td class="">@submission.CaseFeedback.CaseDepartment.DepartmentName</td>
                                <td class="text-center">@submission.CaseFeedback.IncidentAt.ToString("dd MMM, yyyy hh:mm tt")</td>
                                @* <td>@submission.CaseFeedback.WardName</td>
                                <td>@submission.CaseFeedback.CPINumber</td>
                                <td>@submission.CaseFeedback.PatientName</td>
                                <td>@submission.CaseFeedback.RoomNumber</td> *@
                                <td class="text-center">
                                    <button 
                                        data-label="Details"
                                        data-case-department="@submission.CaseFeedback.CaseDepartment.DepartmentName"
                                        data-incident-at="@submission.CaseFeedback.IncidentAt.ToString("dd MMM, yyyy hh:mm tt")"
                                        data-ward-name="@submission.CaseFeedback.WardName"
                                        data-cpi-number="@submission.CaseFeedback.CPINumber"
                                        data-patient-name="@submission.CaseFeedback.PatientName"
                                        data-room-number="@submission.CaseFeedback.RoomNumber"
                                        data-description="@submission.CaseFeedback.Description"

                                        data-lookupId="@submission.LookupId.ToString()"
                                        data-submitter-name="@submission.SubmittedBy.FullName"
                                        data-submitter-department-name="@submission.SubmittedBy.Department.DepartmentName"
                                        data-submitter-phone="@submission.SubmittedBy.PhoneNumber"
                                        data-score="@submission.NegativeScoreValue"
                                        data-comments="@submission.Comments" 

                                        class="moreButton_Details btn btn-link p-0 pb-2">Details</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Dialog -->
<div id="dialog_textDetail" class="modal modal-xl fade" tabindex="-1" aria-labelledby="dialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogTitle"><i class="bi bi-info-circle"></i> Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <strong>Case Details</strong>
                    </div>
                    <div class="card-body">
                        <div class="row border-bottom py-3">
                            <div class="col">
                                <label class="" for="">Case Department</label>
                                <p id="dCaseDepartmentName"></p>
                            </div>
                            <div class="col">
                                <label class="" for="">Incident At</label>
                                <p id="dIncidentAt"></p>
                            </div>
                            <div class="col">
                                <label class="" for="">Feedback by</label>
                                <p id="dFeedbackSubmitterName"></p>
                            </div>
                        </div>
                        <div class="row border-bottom py-3">
                            <div class="col">
                                <label class="" for="">Ward Name</label>
                                <p id="dWardName"></p>
                            </div>
                            <div class="col">
                                <label class="" for="">Patient Name</label>
                                <p id="dPatientName"></p>
                            </div>
                            <div class="col">
                                <label class="" for="">CPI Number</label>
                                <p id="dCPINumber"></p>
                            </div>
                            <div class="col">
                                <label class="" for="">Room Number</label>
                                <p id="dRoomNumber"></p>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col">
                                <label class="" for="">Description</label>
                                <p id="dCaseDescription" class="longText"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <strong>Submission Details</strong>
                    </div>
                    <div class="card-body">
                        <div class="row border-bottom py-3">
                            <div class="col">
                                <label class="" for="">Score by</label>
                                <span class="d-flex align-items-center">
                                    <p id="dSubmitterName"></p> (<p id="dSubmitterDepartment"></p>) <p id="dSubmitterPhone"></p>
                                </span>
                            </div>
                            <div class="col">
                                <label class="" for="">Given Score</label>
                                <p id="dGivenScore"></p>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col">
                                <label class="" for="">Comment</label>
                                <p id="dCaseComment" class="longText"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>
        #dialog_textDetail > div  p {
            min-height: 2em;
            margin: 0;
            padding: .2em .2em;
            font-weight: 600;
        }
        #dialog_textDetail > div  p.longText {
            min-height: 5em;
        }
        .modal-body > .row {
            margin: 1.4em 1.4em;
            padding: 1em 1em;
        }
        .submitter-info p {
            color: var(--metric-green-color);
        }
        .case-department-info p {
            color: var(--metric-red-color);
        }
        .patient-info p {
            color: var(--metric-blue-color);
        }
        .description-and-comments p {
            color: var(--metric-blue-color);
        }
    </style>
}

@section Scripts {
    <script>
        $(function() {
            // ------------------- DATATABLE -----------------------------------
            new DataTable('#reportTable', {
                paging: false,
                info: false,
                searching: true,
                autoWidth: true,
                columnDefs: [
                    { width: "20%", targets: [
                        "colSubmitterName", 
                        @* "colSubmitterDepartment",  *@
                    ]},
                    { width: "14%", targets: ["colCaseDepartment"] },

                    { width: "40%", targets: ["colComment"] },
                    { width: "6%", targets: ["colScore"] },
                    { width: "14%", targets: ["colIncidentAt"] },
                    @* { width: "10%", targets: ["colWard"] }, *@
                    @* { width: "12%", targets: ["colCPINo", "colPatientName"] }, *@
                    @* { width: "10%", targets: ["colRoomNo"] }, *@
                    { width: "5%", targets: ["colActions"] },

                    @* { orderable: false, targets: [0] } *@
                ],
                initComplete: function() {
                    $('#reportTable thead th').addClass('text-light text-center ');
                    $('#reportTable thead th').addClass('valign-middle bg-brand-color');
                }
            });

            // ------------------- Show Dialog ---------------------------------
            $('.moreButton_Details').click(function() {
                @* var lookupId = $(this).data('lookupid'); *@
                @* $("#").text($(this).data('lookupid')); *@
                $("#dSubmitterName").text($(this).data('submitter-name'));
                $("#dSubmitterDepartment").text($(this).data('submitter-department-name'));
                $("#dSubmitterPhone").text($(this).data('submitter-phone'));
                $("#dCaseDepartmentName").text($(this).data('case-department'));
                $("#dGivenScore").text($(this).data('score'));
                $("#dIncidentAt").text($(this).data('incident-at'));
                $("#dWardName").text($(this).data('ward-name'));
                $("#dCPINumber").text($(this).data('cpi-number'));
                $("#dPatientName").text($(this).data('patient-name'));
                $("#dRoomNumber").text($(this).data('room-number'));
                $("#dCaseDescription").text($(this).data('description'));
                $("#dCaseComment").text($(this).data('comments'));

                $("#dialog_textDetail").modal("show");
                @* $("#dialogContent").text(fullText); *@
                @* $("#dialogTitle").text(label);

                if (fullText !== undefined) {
                } else {
                    console.error('data is undefined');
                } *@
            });
        });
    </script>
}
