@using Metrics.Application.Authorization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    AuthorizationResult? canAccessAdminFeatures = await AuthorizationService.AuthorizeAsync(
        user: User, 
        policyName: ApplicationPolicies.CanAccess_AdminFeatures_Policy);
        
    AuthorizationResult? canSubmitKpiScore = await AuthorizationService
        .AuthorizeAsync(user: User, policyName: ApplicationPolicies.CanSubmit_KpiScore_Policy);

    AuthorizationResult? canSubmitKeyKpiScore = await AuthorizationService
        .AuthorizeAsync(user: User, policyName: ApplicationPolicies.CanSubmit_KeyKpiScore_Policy);
        
    AuthorizationResult? canSubmitFeedbackScore = await AuthorizationService
        .AuthorizeAsync(user: User, policyName: ApplicationPolicies.CanSubmit_KpiScore_Policy);
    
    bool canSubmitScore = (canSubmitKpiScore.Succeeded || canSubmitKeyKpiScore.Succeeded || canSubmitFeedbackScore.Succeeded);
    
    AuthorizationResult? canGiveFeedback = await AuthorizationService.AuthorizeAsync(
        user: User, 
        policyName: ApplicationPolicies.CanGive_Feedback_Policy);
    
    @* var pathAndQuery = Context.Request.Path + Context.Request.QueryString; *@
    @* var currentUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{pathAndQuery}"; *@
    var currentUrl = Context.Request.Path;
}

<!DOCTYPE html>
<html lang="en">
 @* data-bs-theme="dark"> *@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Metrics Backend</title>
    <script type="importmap"></script>
    <link rel="icon" type="image/svg" href="~/favicon.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/dataTables.bootstrap5.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.14.1.custom/jquery-ui.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    @* Inter, Poppins, Roboto Mono  *@
    @* Inter Font *@
    @* <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"> *@
    @* Poppins Font *@
    @* <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> *@
    @* Roboto Mono Font *@
    @* <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet"> *@

    @* Inter Font (used for body text) *@
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    @* Roboto Mono Font (used for .mono-text class) *@
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    @* ========== CSS Section ========== *@
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="app-header ">
        <nav id="appNavbar" class="app-navbar 
                    navbar 
                    navbar-collapse-xs
                    navbar-collapse-sm
                    navbar-expand-md 
                    navbar-expand-lg 
                    border-bottom 
                    metrics-main-navbar" 
                aria-label="Main navigation">
            <div class="container-fluid">
                <span class="d-flex align-items-center no-select pe-2 text-branding">
                    <img src="~/images/logo.svg" alt="Logo" 
                            width="38" height="38" 
                            class="border border-3 border-white rounded d-inline-block align-text-top me-2" >
                    Metrics
                </span>
                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="metrics__main-navbar" class="navbar-nav flex-grow-1">
                        @* ========================== Public Area ========================== *@
                        <li class="nav-item">
                            <a asp-page="/Index"
                                asp-area=""
                                class="nav-link @(currentUrl=="/" ? "activeLink" : "")"> 
                                    <i class="bi bi-house-fill"></i> Home</a>
                        </li>
                        @* ================================================================= *@
                        @* ========================== Admin Area ========================== *@
                        @if(canAccessAdminFeatures.Succeeded)
                        @* @if (User.IsInRole("admin") || User.IsInRole("sysadmin")) *@
                        @* @if (User.HasClaim("Permission", "CanSubmitScore")) *@
                        {
                            <li class="nav-item">
                                <a asp-page="/Dashboard/Index"
                                    asp-area=""
                                    class="nav-link @(currentUrl.StartsWithSegments("/dashboard") ? "activeLink" : "")">
                                        <i class="bi bi-bar-chart-fill"></i> Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Manage/Index"
                                    asp-area=""
                                    class="nav-link @(currentUrl.StartsWithSegments("/manage") ? "activeLink" : "")">
                                        <i class="bi bi-ui-radios-grid"></i> Manage</a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Reports/Submissions/Index"
                                    asp-area=""
                                    class="nav-link @(currentUrl.StartsWithSegments("/reports") ? "activeLink" : "")">
                                        <i class="bi bi-clipboard-check-fill"></i> Reports</a>
                            </li>
                        }
                        @* ================================================================= *@
                        @* ========================== Users Area ========================== *@
                        @* ===== Users who can score for KPI, KEY KPI, FEEDBACK ===== *@
                        @if(canSubmitScore)
                        {
                            <li class="nav-item">
                                <a asp-page="/Submissions/Index"
                                    asp-area="" 
                                    class="nav-link @(currentUrl.StartsWithSegments("/submissions/") ? "activeLink" : "")">
                                        <i class="bi bi-ui-checks"></i> Score Submissions</a>
                            </li>
                        }
                        @* ===== Users who can give feedback (case feedback) ===== *@
                        @if(canGiveFeedback.Succeeded)
                        {
                            @* <li class="nav-item">
                                <a asp-page="/Submissions/DepartmentCaseFeedback/List"
                                    asp-area="" 
                                    class="nav-link @(currentUrl.StartsWithSegments("/submissions/department-case-feedback") ? "activeLink" : "")">
                                        <i class="bi bi-ui-checks"></i> Case Feedback</a>
                            </li> *@
                        }
                        @* ================================================================= *@
                        @* ========================== Public Area ========================== *@
                        <li class="nav-item">
                                <a asp-area="" asp-page="/About/Index"
                                    class="nav-link @(currentUrl.StartsWithSegments("/about/") ? "activeLink" : "")">
                                        <i class="bi bi-info-circle-fill"></i> About</a>
                        </li>
                        @* ================================================================= *@
                    </ul>
                    @* <span id="theme-toggle" aria-label="Toggle dark mode" class="px-4">
                        <i class="bi bi-sun-fill"></i> <!-- Sun icon for dark mode -->
                        <i class="bi bi-moon-stars-fill"></i> <!-- Moon icon for light mode -->
                    </span> *@
                    <partial name="Shared/_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div id="main-content" class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <partial name="_Footer" />


    @* ==========lib========== *@
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/datatables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/dataTables.bootstrap5.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui-1.14.1.custom/jquery-ui.js" asp-append-version="true"></script>
    @* <script src="~/lib/tempus-dominus/tempus-dominus.min.js"></script> *@
    @* ==========custom========== *@
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        /*
        const toggleButton = document.getElementById("theme-toggle");

        // Function to toggle theme
        toggleButton.addEventListener("click", function () {
            const currentTheme = document.documentElement.getAttribute("data-bs-theme");
            const newTheme = currentTheme === "dark" ? "light" : "dark";
            document.documentElement.setAttribute("data-bs-theme", newTheme);
            // Save user preference
            localStorage.setItem("theme", newTheme);
        });

        // Check for saved user preference
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme) {
            document.documentElement.setAttribute("data-bs-theme", savedTheme);
        }
        */

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
