@page "/Reports/Submissions/Key-Kpi/{periodName}/Detail"
@using System.Text.Json
@model Metrics.Web.Pages.Reports.Submissions.KeyKpi.DetailModel
@{
    ViewData["Title"] = "Key KPI Detail Report";
}


<div class="sectionTitle">
    <div class="d-flex align-items-center my-2">
        <span class="d-flex align-items-center flex-grow-1">
            <h4><i class="bi bi-table"></i> Key KPI Detail Report for Period: @Model.SelectedPeriodName</h4>
            <span class="mx-4">
                Period: <strong>@Model.SelectedPeriod.PeriodName</strong>
                <small>(@Model.SelectedPeriod.SubmissionStartDate.ToString("MMM dd, yyyy") - @Model.SelectedPeriod.SubmissionEndDate.ToString("MMM dd, yyyy"))</small>
            </span>
        </span>
        <span class="justify-content-end gap-2">
        </span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/Index">Reports</a></li>
            <li class="breadcrumb-item"><a asp-page="/Reports/Submissions/KeyKpi/Index">Key KPI</a></li>
            <li class="breadcrumb-item active">Detail</li>
        </ol>
    </nav>
</div>

<div class="filter-toolbar mb-4 px-4 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-2">
        <a asp-page="./Index"
            class="btn btn-sm btn-outline-primary me-4">
            <i class="bi bi-arrow-left"></i> Back</a>
        @if(Model.KeyIssueDepartmentList.Count > 0)
        {
            <form id="form__filter" method="get">
                <span class="d-flex align-items-center">
                    <div class="col-auto me-2">
                        <label asp-for="KeyDepartment" class="form-label m-0">
                            <i class="bi bi-building-fill"></i> Key Issue Departments</label>
                    </div>
                    <div class="col-auto me-4">
                        <select 
                            asp-for="KeyDepartment"
                            asp-items="Model.KeyIssueDepartmentSelectItems"
                            onchange="this.form.submit()"
                            class="form-select"
                            aria-label="Select Department">
                        </select>
                    </div>
                </span>
            </form>
        }
    </div>

    <div class="exportData">
        <form method="post" asp-page-handler="ExportExcel">
            <input type="hidden" asp-for="KeyDepartment" />
            @if(Model.DetailReportData.Count > 0)
            {
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-file-earmark-spreadsheet"></i> Export</button>
            }
            else
            {
                <button type="submit" 
                    class="btn btn-success disabled">
                <i class="bi bi-file-earmark-spreadsheet"></i> Export</button>
            }
        </form>
    </div>
</div>


<div class="container-fluid">
    <div class="bg-light p-4 rounded-2">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger text-danger" role="alert"></div>

        <div id="loadingScreen" class="d-flex justify-content-center mb-4">
            <strong role="status" class="me-3">Loading...</strong>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        
        <div class="table-responsive">
            @if(Model.KeyKpiSubmissions.Count > 0)
            {
            
                @* <p class="alert alert-danger text-danger text-center">No Data</p> *@

                <table id="reportTable2" class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2">Key Issue Department</th>
                            <th colspan="4">Candidate</th>
                            <th rowspan="2">Score</th>
                            <th rowspan="2">Comment</th>
                        </tr>
                        <tr>
                            <th>Department</th>
                            <th>Key</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Department Name</th>
                            <th>Group Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.DetailReportData.Count > 0)
                        {
                            foreach(var item in Model.DetailReportData)
                            {
                                <tr style="line-height: 2em;">
                                    <td>@item.KeyIssueDepartment.KeyIssueDepartmentName</td>
                                    <td>@item.KeyIssueDepartment.KeyTitle</td>
                                    <td>@item.SubmissionDetails.CandidateInfo.CandidateCode</td>
                                    <td>@item.SubmissionDetails.CandidateInfo.CandidateName</td>
                                    <td>@item.SubmissionDetails.CandidateInfo.CandidateDepartmentName</td>
                                    <td>@item.SubmissionDetails.CandidateInfo.CandidateGroupName</td>
                                    <td>@item.SubmissionDetails.ScoreValue</td>

                                    @{var isCommentEmpty = string.IsNullOrEmpty(@item.SubmissionDetails.Comments);}
                                    <td class="@(isCommentEmpty ? "text-secondary" : "")">
                                        @if(!isCommentEmpty) {
                                            if(@item.SubmissionDetails.Comments?.Length > 80) {
                                                @(@item.SubmissionDetails.Comments.Substring(0, 80) + "...")
                                                <button class="moreButton_Comments btn btn-link p-0 pb-2"
                                                        data-details="@item.SubmissionDetails.Comments" 
                                                        data-label="Comments"
                                                        >More</button>
                                            }
                                            else {
                                                @item.SubmissionDetails.Comments
                                            }
                                        }
                                        else {
                                            @:None
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="alert alert-danger text-danger text-center">No Submissions yet.</p>
            }
        </div>
    </div>
</div>

@* ============================================================================================= *@
<div class="modal modal-lg fade" id="singleKeyDepartmentDetailModal" 
        @* data-bs-backdrop="static"  *@
        data-bs-keyboard="false" 
        tabindex="-1" 
        aria-labelledby="staticBackdropLabel" 
        aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="key-title"></p>
                <hr />
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Candidate Department</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody id="singleKeyDepartmentDetailModal_TableBody">
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Dialog -->
<div id="dialog_textDetail" class="modal" tabindex="-1" aria-labelledby="dialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="dialogContent"></p>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Styles {
    <style>
        .topCell {
            border-top: 1px solid #b7b7b7;
        }
    </style>
}


@section Scripts {
    <script>
        $(function() {
            // ------------------- DATATABLE -----------------------------------
            new DataTable("#reportTable2", {
                paging: false,
                info: true,
                searching: true,
                autoWidth: true,
                scroller: true,
                scrollY: 600,
                initComplete: function() {
                    $('.dataTable thead th').addClass('text-light text-center align-middle');
                    $('.dataTable thead th').addClass('bg-brand-color');
                },
                columnDefs: [
                    { width: "20%", targets: [7] } 
                    @* { orderable: false, targets: [ "#colPositiveAspects", "#colNegativeAspects", "#colComments"] },
                    { width: "20%", targets: ["#colDepartment"] },
                    { width: "10%", targets: ["#colScore"] }, *@
                ],
            });

            // ------------------- Show Dialog ---------------------------------
            $('.moreButton_Comments').click(function() {
                var fullText = $(this).data('details');
                var label = $(this).data('label');
                $("#dialogTitle").text(label);

                if (fullText !== undefined) {
                    $("#dialogContent").text(fullText);
                    $("#dialog_textDetail").modal("show");
                } else {
                    console.error('data is undefined');
                }
            });
        });
    </script>
}