@page "{periodName}"
@model Metrics.Web.Pages.Submissions.Departments.Scores.SubmitModel
@{
    ViewData["Title"] = "Submit Department Score";
    decimal[] scoreList = new decimal[] { 1M, 2M, 3M, 4M, 5M, 6M, 7M, 8M, 9M, 10M };
}


<div class="sectionTitle">
    <h4>Submit Department Score</h4>
    @* <div id="submissionStatusBar" class="fixed-bottom mt-2 mb-0 px-4 p-2 d-flex align-items-center justify-content-center">
        <p class="px-4 mb-0"><strong>Progress:</strong> <span id="formProgress">0</span> of @Model.SubmissionInput.Count</p>
    </div> *@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="/Submissions/Departments/Scores/Index">Submission List</a></li>
            <li class="breadcrumb-item active">Submit</li>
        </ol>
    </nav>
</div>

<div class="container">

    @if (!ModelState.IsValid && !Model.IsSubmissionsExist)
    {
        <div class="form bg-light p-4">
            <div class="alert alert-danger">
                <h5>There were some errors in the form.</h5>
                <ul>
                    <li>@ModelState.Values.SelectMany(v => v.Errors).First().ErrorMessage</li>
                </ul>
            </div>
        </div>
    }

    @if(Model.IsSubmissionValid)  @* Date is due or early. *@
    {
        @if(!Model.IsSubmissionsExist)  @* New Submission (No submission exist.) *@
        {
            @if (Model.DepartmentList.Count > 0)
            {
                <form method="post">

                        <div class="row mt-4">
                            <div class="form-group col-md d-flex justify-content-between align-items-center">
                                <div class="flex-item">KPI Period: <strong>@Model.TargetKpiPeriodName</strong></div>
                                <div class="flex-item">Departments: <strong>@Model.DepartmentList.Count</strong></div>
                            </div>
                            <div class="form-group col-md d-flex justify-content-end align-items-center gap-2">
                                <button type="button" class="btn btn-warning me-2" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#cancelDialogstaticBackdrop">
                                    <i class="bi bi-x-circle"> </i>Cancel</button>
                                @* <button type="submit" class="btn btn-primary me-2">
                                    <i class="bi bi-check-circle"> </i>Submit
                                </button> *@
                                <button type="button" class="btn btn-primary me-2" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#submitDialogBackdrop">
                                    <i class="bi bi-check-circle"> </i>Submit</button>
                            </div>
                        </div>

                        @for(int i=0 ; i< Model.DepartmentList.Count; i++) @* ==== Cards ===== *@
                        {
                            <div class="card mt-2 px-4 py-2">
                                <div class="row pb-2"> <!-- Department -->
                                    <label class="col-3 col-sm-3 col-md-3 col-lg-2" asp-for="SubmissionInput[i].DepartmentId">Department:</label>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-10">
                                        <span class="d-flex">
                                            <strong class="flex-grow-1 justify-content-start">@Model.DepartmentList[i].DepartmentName</strong>
                                            <label class="justify-content-end"><strong>@(i+1)</strong>/@Model.DepartmentList.Count</label>
                                        </span>
                                    </div>
                                    <input type="hidden" asp-for="SubmissionInput[i].DepartmentId" />
                                </div>

                                <div class="row pb-2"> <!-- radio Inputs -->
                                    <label class="col-3 col-sm-3 col-md-3 col-lg-2 form-label" asp-for="SubmissionInput[i].KpiScore">KPI Score: </label>
                                    <div class="radio__scoreValue form-check form-check-inline col d-flex flex-wrap gap-2">
                                        @for(int x = 0; x < scoreList.Length; x++)
                                        {
                                            <label for="radio_[@i][@x]" 
                                                    class="radioLabel__kpiscore 
                                                            form-check-label
                                                            rounded-3 
                                                            ps-2 pe-4">
                                                <input class="radioInput__kpiscore"
                                                        type="radio" 
                                                        asp-for="SubmissionInput[i].KpiScore" 
                                                        value="@scoreList[x]" 
                                                        id="radio_[@i][@x]" />
                                                        @* name="submissionFormRadioButton_@i" /> *@
                                                <strong>@scoreList[x]</strong>
                                            </label>
                                        }
                                    </div>
                                    <div>
                                        <span asp-validation-for="SubmissionInput[i].KpiScore" class="text-danger"></span>
                                    </div>
                                        @* <input asp-for="SubmissionInput[i].KpiScore" name="@Model.DepartmentList[@i].Id" value="@Model.SubmissionInput[i].KpiScore" /> *@
                                </div>

                                @* Hide Aspect section, if User Group is Staff *@
                                @if(Model.CurrentUserTitleName?.ToLower() != "staff") @* ===== Check Staff or Others ===== *@
                                {
                                <div class="row pb-2"> <!-- Aspects -->
                                    <label class="col-md-2 col-lg-2 form-label">Aspects: </label>
                                    <div class="col-md-10 col-lg-10 d-flex gap-2">
                                        <div class="col">
                                            <div class="row pb-2">
                                                <label asp-for="SubmissionInput[i].PositiveAspects" class="form-label">Positive: </label>
                                                <div>
                                                    <textarea asp-for="SubmissionInput[i].PositiveAspects" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row pb-2">
                                                <label asp-for="SubmissionInput[i].NegativeAspects" class="form-label">Negative: </label>
                                                <div>
                                                    <textarea asp-for="SubmissionInput[i].NegativeAspects" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }

                                <div class="row pb-2">
                                        <label asp-for="SubmissionInput[i].Comments" 
                                                    class="col-3 col-sm-3 col-md-3 col-lg-2 form-label">Comments: </label>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-10">
                                        <textarea asp-for="SubmissionInput[i].Comments" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row mt-4">
                            <div class="form-group col-md d-flex justify-content-end align-items-center gap-2">
                                <button type="button" class="btn btn-warning me-2" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#cancelDialogstaticBackdrop">
                                    <i class="bi bi-x-circle"> </i>Cancel</button>
                                @* <button type="submit" class="btn btn-primary me-2">
                                    <i class="bi bi-check-circle"> </i>Submit
                                </button> *@
                                <button type="button" class="btn btn-primary me-2" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#submitDialogBackdrop">
                                    <i class="bi bi-check-circle"> </i>Submit</button>
                            </div>
                        </div>


                    @* =========== MODAL =========== *@
                    @* ---------- CANCEL DIALOG ---------- *@
                    <div class="modal fade" id="cancelDialogstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cancelDialogStaticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="cancelDialogStaticBackdropLabel">Cancel</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to cancel the submission?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" 
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        <i class="bi bi-x-circle"> </i>No</button>
                                    
                                        <button asp-page-handler="Cancel" type="submit" 
                                                class="btn btn-primary ms-2" formnovalidate>
                                            <i class="bi bi-check-circle"> </i>Yes</button>

                                </div>
                            </div>
                        </div>
                    </div>

                    @* ---------- SUBMIT DIALOG ---------- *@
                    <div class="modal fade" id="submitDialogBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="submitDialogStaticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="submitDialogStaticBackdropLabel">Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to submit the form?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" 
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        <i class="bi bi-x-circle"> </i>No</button>
                                    <button type="submit"
                                            class="btn btn-primary me-2">
                                        <i class="bi bi-check-circle"> </i>Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }

            @* Go to Top button *@
            <button id="goToTop" class="btn btn-outline-primary">
                <i class="bi bi-arrow-up-circle"></i> Top
            </button>

        }
        else  @* IsSubmissionsExist = true; => Already submitted (Submission exist.) *@
        {
            <h5 class="my-4 text-success">You already submitted for this period <strong>@Model.TargetKpiPeriodName</strong>.</h5>
            <div class="my-4">
                <span>
                    Check <strong><a class="" asp-page="/Submissions/Departments/Scores/Index">Submissions</a></strong>.
                </span>
            </div>

            @* display already submitted data *@
            <div class="mt-4">
                <table id="dataTable" class="table table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Department</th>
                            <th>Score Given</th>
                            @* @if(Model.CurrentUserTitleName?.ToLower() != "staff")
                            {
                                <th>Positive Aspects</th>
                                <th>Negative Aspects</th>
                            }
                            <th>Comments</th> *@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.DoneKpiSubmissions.Any())
                        {
                            @foreach (var s in Model.DoneKpiSubmissions)
                            {
                                <tr>
                                    <td>@s.SubmissionDate.ToString("MMM dd, yyyy")</td>
                                    <td>@s.DepartmentName</td>
                                    <td>@s.ScoreValue</td>
                                </tr>
                            }
                        }



                        @* @if (Model.UsersList.Any())
                        {
                            @foreach (var e in Model.UsersList)
                            {
                                <tr>
                                    <td>@e.UserName</td>
                                    <td>@e.FullName </td>
                                    <td>
                                        <span class="badge rounded-2 rounded-pill text-bg-primary">
                                            <small>@e.UserTitleName</small>
                                        </span></td>
                                    <td>
                                        @foreach(var roleName in e.UserRoles)
                                        {
                                            <span class="badge rounded-2 rounded-pill text-bg-primary">
                                                <small>@roleName</small></span>
                                        } </td>
                                    <td>@e.DepartmentName</td>
                                    <td>
                                        <a asp-page="Edit" 
                                            asp-route-user="@e.UserCode"
                                            asp-route-returnUrl="@Url.Page("Index")"
                                            class="link-underline-primary">Edit</a>
                                    </td>
                                </tr>
                            }
                        } *@
                    </tbody>
                </table>
            </div>
        }
    }

    @* </div> *@
</div>




@section Styles {
    <style>
        .radioLabel__kpiscore, .radioInput__kpiscore {
            cursor: pointer;
        }

        .radioLabel__kpiscore {
            padding: 0.5rem;  /* Clickable area padding */
            transition: background-color 0.2s;  
            border: .1em solid #fff;
        }
        .radioLabel__kpiscore:hover {
            border: .1em solid #007bff;
        }

        /* Align radio and text */
        .radioLabel__kpiscore .radioInput__kpiscore-check-input {
            margin-top: 0;
        }
        
        .radioLabel__kpiscore:has(.radioInput__kpiscore:checked) {
            border: .1em solid #007bff;
        }

    </style>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        new DataTable('#dataTable', {
            paging: false,
            info: false,
            searching: false,
        });
        // ------------------- goToTop button implementation -------------------
        // Get the button
        var mybutton = document.getElementById("goToTop");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        };

        // When the user clicks on the button, scroll to the top of the document
        mybutton.onclick = function() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
        };
        //-----------------------------------------------------------------------
    </script>
}
