@page "/Manage/Submissions/Key-Kpi/Department-Keys/Issue-Keys/{periodName}/View"
@model Metrics.Web.Pages.Manage.Submissions.KeyKpi.DepartmentKeys.IssueKeys.ViewModel
@{
    ViewData["Title"] = $"Key Metrics for {Model.SelectedPeriodName}";
}

<div class="sectionTitle">
    <div class="d-flex align-items-center my-2">
        <h4 class="flex-grow-1"><i class="bi bi-ui-checks"></i> Issued keys for @Model.SelectedPeriodName</h4>
        <span class="justify-content-end gap-2"></span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/">Home</a></li>
            <li class="breadcrumb-item"><a asp-page="/Manage/Index">Manage</a></li>
            <li class="breadcrumb-item"><a asp-page="/Manage/Submissions/KeyKpi/DepartmentKeys/Index">Department Key Metrics (periods)</a></li>
            <li class="breadcrumb-item active">View</li>
        </ol>
    </nav>
</div>

<div class="container-fluid">

    <div class="filter-toolbar mb-4 d-flex align-items-center justify-content-between">
        <span class="d-flex flex-grow-1 align-items-center"></span>
        <span>
            @{ var infoDesc = "<div><strong>Import</strong> <br/>Select source period to copy from.<br/></div>";
            }
            <i class="bi bi-info-circle-fill"
                data-bs-toggle="tooltip" 
                data-bs-html="true"
                data-bs-title="@infoDesc"
                data-bs-placement="left"></i> Import from other Period
            <a asp-page="Import"
                asp-route-periodName="@Uri.EscapeDataString(Model.SelectedPeriodName ?? string.Empty)"
                asp-route-returnUrl="@HttpContext.Request.Path"
                class="btn btn-success me-4">
                <i class="bi bi-file-earmark-arrow-down"></i> Import</a>
        </span>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div id="loadingScreen" class="d-flex justify-content-center mb-4">
        <strong role="status" class="me-3">Loading...</strong>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    @* table... *@
    <div id="mainContent" class="visually-hidden table-responsive p-0 px-2 mb-3 border rounded-2">
        <table id="keyMetricTable" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Issue Department</th>
                    <th class="">Key Title</th>
                    @* <th>Deleted</th> *@
                </tr>
            </thead>
            <tbody>
                @if(Model.SelectedDKMs.Count > 0)
                {
                    var rowCount = 0;
                    @foreach(var k in Model.SelectedDKMs)
                    {
                        rowCount += 1;
                        var lineNumber = rowCount.ToString("0000");

                        <tr id="tableRow" class="row-@k.Id">
                            <td class="text-center">@lineNumber</td>
                            <td>
                                @k.KeyIssueDepartment.DepartmentName
                            </td>
                            <td class="">
                                @Html.Raw(k.KeyMetric.MetricTitle)
                            </td>
                            @* <td>
                                @k.IsDeleted
                            </td> *@
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


</div>




@section Scripts {
<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.addEventListener('load', function() {
            document.getElementById('loadingScreen').classList.add('visually-hidden');
            document.getElementById('mainContent').classList.remove('visually-hidden');
        });
    });
    
    $(function() {
        new DataTable('#keyMetricTable', {
            paging: false,
            info: false,
            searching: true,
            autoWidth: true,
            columnDefs: [
            
            ],
            initComplete: function() {
                $('#keyMetricTable thead th')
                    .addClass('text-center text-white bg-brand-color');
            }
        });
    });
</script>
}








@* 
<div class="sectionTitle">
    <div class="d-flex align-items-center my-2">
        <h4 class="flex-grow-1">Key Metrics for @Model.CurrentPeriodName</h4>
        <span class="justify-content-end gap-2"></span>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-page="/Manage/Submissions/DepartmentKeyMetrics/Index">Period List</a></li>
            <li class="breadcrumb-item active">View</li>
        </ol>
    </nav>
</div>

<div class="container-fluid">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class=" p-4 rounded-2">
        <div class="filter-toolbar mb-4 d-flex justify-content-between">
        </div>

        <div class="col">
            <div class="row mb-3">
                <div class="col-auto">
                    <form id="form__departmentSelection" method="get">
                        <label class="form-label" for="CurrentDepartmentCode">Department</label>
                        <select asp-for="CurrentDepartmentCode"
                                asp-items="Model.DepartmentListItems"
                                name="department"
                                onchange="this.form.submit()"
                                class="form-select p-2" 
                                size="18"
                                aria-label="Select Department">
                        </select>
                    </form>
                </div>
                <div class="col">
                    @if (Model.CurrentDepartmentCode != null)
                    {
                        @if(Model.KeyMetrics.Any())
                        {
                            <label class="form-label" for="departmentKeyMetricTable">Key Metrics</label>
                            <div class="table-container row border rounded-2">
                            <table id="departmentKeyMetricTable" class="table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="">Key Metric</th>
                                        <th class="colActions">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model.KeyMetrics.Any())
                                    {
                                        var count = 0;
                                        @foreach(var k in Model.KeyMetrics)
                                        {
                                            count += 1;
                                            var lineNumber = count.ToString("00");
                                            // find KeyMetric included in DepartmentKeyMetrics
                                            // Null === true       -> "SET"
                                            // Null === false
                                            // ...isDeleted === true  -> "SET"
                                            // ...isDeleted === false -> "UNSET"
                                            bool toAssign = false;

                                            var isExist= Model.DepartmentKeyMetrics
                                                .Any(i => i.KeyMetricId == k.Id);
                                            if (isExist) {
                                                // check IS DELETED?
                                                // show TO UNSET
                                                var existingRecord = Model.DepartmentKeyMetrics
                                                    .Where(i => i.KeyMetricId == k.Id).First();

                                                if(existingRecord.IsDeleted) {
                                                    toAssign = true;
                                                } else {
                                                    toAssign = false;
                                                }
                                            } else {
                                                // show TO SET
                                                toAssign = true;
                                            }

                                            var textColor = toAssign
                                                ? "text-secondary" 
                                                : "text-success";
                                            var buttonColor = toAssign 
                                                ? "btn-outline-primary" 
                                                : "btn-outline-danger";

                                            <tr>
                                                <td class="@textColor">
                                                    @Html.Raw(toAssign
                                                        ? $"<i class='bi bi-x-circle'></i> {lineNumber}. {k.MetricTitle}" 
                                                        : $"<i class='bi bi-check-circle'></i> {lineNumber}. {k.MetricTitle}"
                                                    )
                                                </td>
                                                <td class="text-center">
                                                    <form method="post">
                                                        <button asp-page-handler="ToggleKeyMetric"
                                                                asp-route-department="@Model.CurrentDepartmentCode"
                                                                asp-route-keyMetric="@k.MetricCode"
                                                                type="submit"
                                                                class="btn__actionButtons btn btn-sm @(buttonColor) my-2 my-lg-0 me-2">
                                                            
                                                            @Html.Raw(toAssign
                                                                ? "<i class='bi bi-check-circle-fill'></i> Assign"
                                                                : "<i class='bi bi-x-circle-fill'></i> Remove"
                                                            )
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div> *@


@* @section Styles {
    <style>
        .btn__actionButtons {
            width: 8em;
        }
        .table-container {
            max-height: 60vh;
            overflow-y: auto;
        }
        option[selected] {
            background: var(--primary-color);
            color: white;
        }
        option:focus,
        option:active,
        option:hover {
            background: var(--primary-color);
            color: white;
        }
    </style>
}


@section Scripts {
    <script>
        $(function() {
            new DataTable('#departmentKeyMetricTable', {
                paging: false,
                info: false,
                searching: false,
                autoWidth: true,
                columnDefs: [
                    { width: "18%", targets: ["colActions"] },
                    { orderable: false, targets: ["colActions"] },
                ],
                initComplete: function() {
                    $('#departmentKeyMetricTable thead th')
                        .addClass('text-center text-white bg-brand-color');
                }
            });
        });
    </script>
} *@