@model PeriodListPartialModel
@using Metrics.Web.Models.PartialViewModels;

<table id="@Model.TableId" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Period Name</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Periods.Any())
        {
            @foreach(var p in Model.Periods)
            {
                <tr class="text-center">
                    <td class="font-monospace">
                        <strong>@p.PeriodName</strong>
                    </td>
                    <td class="text-center font-monospace">@p.SubmissionStartDate.ToLocalTime().ToString("MMM dd, yyyy") - @p.SubmissionEndDate.ToLocalTime().ToString("MMM dd, yyyy")</td>
                    <td class="font-monospace">
                        @foreach (var button in Model.Buttons)
                        {
                            <a asp-page="@Model.LinkBasePage/@button.Page" 
                                asp-route-periodName="@p.PeriodName"
                                class="@(string.IsNullOrEmpty(button.BootstrapButton)  ? "btn-outline-primary" : button.BootstrapButton) btn btn-sm  mybtn my-2 my-lg-0 me-2">
                                <strong><i class="@button.IconClass"> </i>@button.Text</strong></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if(!string.IsNullOrEmpty(Model.Color))
{
    var varLightColor = "--light-color";

    if(Model.Color.Equals("red", StringComparison.OrdinalIgnoreCase))
    {
        var varMetricRed = "--metric-red-color";
        var varMetricDeepRed = "--metric-deepred-color";
        <style>
                #@Model.TableId thead th {
                    background: var(@varMetricRed);
                }
                .mybtn {
                    color: var(@varMetricDeepRed) !important;
                    border-color: var(@varMetricDeepRed) !important;
                }
                .mybtn:hover {
                    background: var(@varMetricDeepRed) !important;
                    border-color: var(@varMetricDeepRed) !important;
                    color: var(@varLightColor) !important;
                }
        </style>
    }
    else if(Model.Color.Equals("green", StringComparison.OrdinalIgnoreCase))
    {
        var varMetricGreen = "--metric-green-color";
        var varMetricDeepGreen = "--metric-deepgreen-color";
        <style>
                #@Model.TableId thead th {
                    background: var(@varMetricGreen);
                }
                .mybtn {
                    color: var(@varMetricDeepGreen) !important;
                    border-color: var(@varMetricDeepGreen) !important;
                }
                .mybtn:hover {
                    background: var(@varMetricDeepGreen) !important;
                    border-color: var(@varMetricDeepGreen) !important;
                    color: var(@varLightColor) !important;
                }
        </style>
    }
}

@if (Model.IncludeScripts)
{
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            // Verify jQuery is available
            if (window.jQuery) {
                $(function() {
                    const defaultColor = @Json.Serialize(string.IsNullOrEmpty(Model.Color));
                    console.log(defaultColor);
                    new DataTable('#@Model.TableId', {
                        paging: false,
                        info: false,
                        searching: false,
                        autoWidth: true,
                        columnDefs: [
                            @* { width: "20%", targets: [0] }, *@
                            { orderable: false, targets: [2] }
                        ],
                        initComplete: function() {
                            $('thead th').addClass('text-light text-center ');
                            if(defaultColor)
                            {
                                $('thead th').addClass('bg-brand-color');         
                            }
                        }
                    });
                });
            }
        });
    </script>
}

